<font face=Adobe Gothic Std"font size="5"font  color ="red"><b>
<marquee>your  safety  is  our  priority!</marquee></b></font>
<body style="background-color:powderblue;">
<h1 style="text-align:center;">Ticket Window</h1>
<h2 style="text-align:center;">TMPL</h2>

<form method="post" action="/submit">
    <p>Name: <input type="text" name="Name"></p>

    <p>Email: <input type="text" name="Email"></p>
    <p>Contact : <input type="text" name="Contact"></p>
    <p>Location : <input type="text" name="Location"></p>

    <p><input type="submit"></p>
</form>

</body>
